body{
  margin:0;
  background:#0a0a12;
  font-family:Arial;
  color:white;
}

.title{
  text-align:center;
  color:#c86bff;
  text-shadow:0 0 15px #a100ff;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
  padding:15px;
}

.card{
  background:#141420;
  border-radius:18px;
  padding:15px;
  text-align:center;
  border:1px solid #6a00ff;
  box-shadow:0 0 20px #6a00ff55;
}

.card img{
  width:80px;
  height:80px;
  object-fit:contain;
}

.product img{
  width:100%;
  height:120px;
  object-fit:cover;
  border-radius:12px;
}

button{
  margin-top:10px;
  background:#a100ff;
  border:none;
  color:white;
  padding:10px;
  border-radius:10px;
  width:100%;
  box-shadow:0 0 10px #a100ff;
}

.back{
  margin:10px;
  background:#333;
}
